<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<section ng-controller="apuracao_controller">

	    <h1>Apuração:</h1>
	    <table class="table table-striped">
	    	<tr>
	    		<th>Nome da ideia</th>
	    		<th>Descrição da ideia</th>
                <th>Pitcher</th>
                <th>Número de votos</th>
	    	</tr>
	    	<tr ng-repeat='ideia in ideias'>
	    		<td>{{ideia.name}}</td>
	    		<td>{{ideia.description}}</td>
               	<td>{{ideia.username}}</td>
               	<td>{{ideia.votos}}</td>
	    	</tr>
	    </table>

	</section>

	<script src="/javascripts/angular.js"></script>
	<script src="/javascripts/startup_front_controller.js"></script>
  </body>
</html>