<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<section ng-controller="startup_controller">

	    <h1>Criar SW</h1>
	    <form class="form-inline" ng-submit='addSw()'>
	    	<div class="form-group">  	
	    		<input type='text' placeholder='Nome' class="form-control" ng-model='startup.p1'/>
	    	</div>
	    	<div class="form-group">
	    		<input type='tel' placeholder='Cidade' class="form-control" ng-model='startup.p2'/>
	    	</div>
	    		<button type='submit' class='btn btn-primary'>Salvar</button>
	    </form>

	    <h1>Lista de SW:</h1>
	    <table class="table table-striped">
	    	<tr>
	    		<th>Nome</th>
	    		<th>Cidade</th>
                <th>ID</th>
                <th>Redirecionamento</th>
	    	</tr>
	    	<tr ng-repeat='startup in startups'>
	    		<td>{{startup.name}}</td>
	    		<td>{{startup.location}}</td>
               	<td>{{startup._id}}</td>
               	<td>Link: <a class='btn btn-primary' href="http://127.0.0.1:3000/v1/a?p1={{startup._id}}">Gerenciar</a></td>
	    	</tr>

	    	
	    </table>

	</section>

	<script src="/javascripts/angular.js"></script>
	<script src="/javascripts/startup_front_controller.js"></script>
  </body>
</html>