
    <title>Apuracao SW</title>
   
  	<section >

	    <h1>Apuração:</h1>
	    <table class="table table-striped">
	    	<tr>
	    		<th>Nome da ideia</th>
	    		<th>Descrição da ideia</th>
                <th>Pitcher</th>
                <th>Número de votos</th>
	    	</tr>
	    	<tr ng-repeat="ideia in ideias | orderBy : '-votos'" >
	    		<td>{{ideia.name}}</td>
	    		<td>{{ideia.description}}</td>
               	<td>{{ideia.username}}</td>
               	<td>{{ideia.votos}}</td>
	    	</tr>
	    </table>

	</section>


