
    <title>Cadastro de ideias</title>

  	<section >

	    <h1>Adicionar ideia</h1>
	    <form class="form-inline" ng-submit='addIdeia()'>
	    	<div class="form-group">  	
	    		<input type='text' placeholder='Nome da ideia' class="form-control" ng-model='ideia.p1'/>
	    	</div>
	    	<div class="form-group">
	    		<input type='text' placeholder='Descricao da ideia' class="form-control" ng-model='ideia.p2'/>
	    	</div>

	    	<div class="form-group">
	    		<input type='text' placeholder='Dono da ideia' class="form-control" ng-model='ideia.p3'/>
	    	</div>


	    		<button type='submit' class='btn btn-primary'>Salvar</button>
	    </form>

	    <h1>Lista de Ideias:</h1>
	    <table class="table table-striped">
	    	<tr>
	    		<th>Nome da ideia</th>
	    		<th>Descrição da ideia</th>
                <th>Pitcher</th>
                <th>Número de votos</th>
	    	</tr>
	    	<tr ng-repeat="ideia in ideias | orderBy : '-votos'" >
	    		<td>{{ideia.name}}</td>
	    		<td>{{ideia.description}}</td>
               	<td>{{ideia.username}}</td>
               	<td>{{ideia.votos}}</td>
	    	</tr>
	    </table>

	</section>
