
    <title>Cadastro SW</title>

  	<section >

	    <h1>Criar SW</h1>
	    <form class="form-inline" ng-submit='addSw()'>
	    	<div class="form-group">  	
	    		<input type='text' placeholder='Nome' class="form-control" ng-model='startup.p1'/>
	    	</div>
	    	<div class="form-group">
	    		<input type='tel' placeholder='Cidade' class="form-control" ng-model='startup.p2'/>
	    	</div>
	    		<button type='submit' class='btn btn-primary'>Salvar</button>
	    </form>

	    <h1>Lista de SW:</h1>
	    <table class="table table-striped">
	    	<tr>
	    		<th>Nome</th>
	    		<th>Cidade</th>
                <th>ID</th>
                <th>Apuracao</th>
                 <th>Add ideias</th>
	    	</tr>
	    	<tr ng-repeat='startup in startups'>
	    		<td>{{startup.name}}</td>
	    		<td>{{startup.location}}</td>
               	<td>{{startup._id}}</td>
               	<td><a class='btn btn-primary' href="{{baseUrl}}/apuracao/{{startup._id}}">Apuracao</a></td>
               	<td><a class='btn btn-primary' href="{{baseUrl}}/ideia/{{startup._id}}">Add ideia</a></td>
	    	</tr>

	    	
	    </table>



	</section>
